DATABASE_URL=mongodb+srv://root:<password>@cluster0.ab1cd.mongodb.net/myDatabase?retryWrites=true&w=majority

AUTH_RESEND_KEY=abc123

AUTH_SECRET="******************" # Added by `npx auth`. Read more: https://cli.authjs.dev
